@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0a0abf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  text-align: center;
}

h1{
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.GroceryWrapper{
  background-color: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.GroceryForm{
  width: 100%;
  margin-bottom: 1rem;
}

.grocery-input{
  outline: none;
  background: none;
  border: 1px solid #0a0abf;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #ffffff;
}

.grocery-input::placeholder{
  color: #ffffff4d;
}

.grocery-btn{
  background-color: #0a0abf;
  color: #ffffff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Grocery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0abf;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash{
  margin-left: 0.75rem;
}